.PointsEditor {
  margin-top: 1em;
}

.PointsEditor-switch {
  min-width: 9rem;
  button {
    width: 100%;
    height: 100%;
  }
}
.PointsEditor-switch p {
  margin: 0
}

.PointsEditor-edit {
   width: 3rem;
}