.PointsControl {
  width: 25em;
}

.PointsControl[open] {
  padding-bottom: 2em;
}

.PointsControl-title,
.PointsControl-value,
.PointsControl-penalty,
.PointsControl-baseCapacity span {
  font-size: 1.1em;
  font-weight: bolder;
  margin-right: 0.5em;
  color: #285e56;
}

.PointsControl-baseCapacity input {
  width: 3em;
  text-align: right;
}

.PointsControl-title {
  font-style: italic;
  width: 8.2em;
  display: inline-block;
}

.PointsControl-value {
  width: 1.3em;
  display: inline-block;
  text-align: right;
}

.PointsControl-penalty {
  width: 1.6em;
  display: inline-block;
  text-align: right;
}

.PointsControl > summary {
  padding-bottom: 0.25em;
  border-bottom: #56c9c7 0.15em solid;
}
