*                       input
*.png                   binary
*.jpg                   binary
*.jpeg                  binary
*.gif                   binary
*.afdesign              binary
/.pnp.*                 text=auto linguist-generated