.App {
  div.accordion-body{
    padding-left: 0;
  }
  button.accordion-button {
    padding-left: 0.5rem;
    ::after {
      display: none;
    }
    input {
      padding: 0;
    }
  }
  div.accordion-body,
  button.accordion-button{
    padding-right: 0;
  }
  > div.row {
    padding: 0;
  }
}
//
//.App-authOverlay {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: 1;
//}