body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#ghlink {
  display: block;
  width: 2.5em;
  height: 2.5em;
  position: fixed;
  top: calc(100% - 2.5em - 0.5em);
  left: 0.5em;
}

#ghlink img {
  width: 100%;
  height: 100%;
}

#ghlink:hover {
  text-decoration: none;
}

