.display
  height: 1.25rem
  width: 1rem

// https://codepen.io/sosuke/pen/Pjoqqp
img.heal
  // #1f4b28;
  filter: invert(22%) sepia(30%) saturate(808%) hue-rotate(80deg) brightness(100%) contrast(94%)

img.harm
  // #540d0d;
  filter: invert(12%) sepia(21%) saturate(5949%) hue-rotate(341deg) brightness(94%) contrast(102%)

.dark
  img
    // #b2b2b2;
    filter: invert(86%) sepia(0%) saturate(1%) hue-rotate(5deg) brightness(82%) contrast(95%)
  img.heal
    // #8fe38f;
    filter: invert(99%) sepia(90%) saturate(822%) hue-rotate(49deg) brightness(92%) contrast(92%)
  img.harm
    // #e38f8f;
    filter: invert(67%) sepia(23%) saturate(692%) hue-rotate(314deg) brightness(95%) contrast(87%)
  